.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120rem;

    @media only screen and(max-width: 127.5rem) {
      padding: 0 2rem;
    }

    @media only screen and(max-height: 50rem) {
      margin-top: 2rem;
    }
  }

  &__icon-container {
    width: 70%;
    max-width: 25rem;

    @media only screen and(max-height: 62.5rem) {
      width: 50%;
    }
  }

  &__icon {
    width: 100%;
  }

  &__cta-text {
    margin-top: 2rem;
    text-align: center;
  }

  &__subtext {
    margin-top: 2rem;
    display: block;
    text-align: center;
    font-size: 1.6rem;

    @media only screen and(max-width: 45rem) {
      font-size: 1.4rem;
    }
  }
}